# Get your Google API Key by following these instructions:
# Go to https://console.cloud.google.com/apis/credentials
# Create or select a project.
# Click on "+ CREATE CREDENTIALS" and choose "API key".
# Make sure the "Generative Language API" is enabled for your project.
GOOGLE_API_KEY=

# For the Supabase version, set your Supabase URL and Service Key.
# Get your SUPABASE_URL from the API section of your Supabase project settings -
# https://supabase.com/dashboard/project/<your project ID>/settings/api
SUPABASE_URL=

# Get your SUPABASE_SERVICE_KEY from the API section of your Supabase project settings -
# https://supabase.com/dashboard/project/<your project ID>/settings/api
# On this page it is called the service_role secret.
SUPABASE_SERVICE_KEY=

# The Google LLM you want to use.
# Example: gemini-1.5-flash-latest or models/gemini-1.0-pro
LLM_MODEL=gemini-1.5-flash-latest

# The Google Embedding model you want to use.
# Example: models/embedding-001
EMBEDDING_MODEL=models/text-embedding-004
